.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-page {
  max-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
}

.form-page-title {
  text-align: center;
}
