.card-container {
  position: relative;
}

.card-container .card {
  width: 300px;
  margin: 0 10px 10px !important;
}
.card-container .card .ant-card-body {
  padding-bottom: 0 !important;
}

.card-container .delete-checkbox {
  position: absolute;
  left: 15px;
  z-index: 99;
  top: 5px;
}

.collapse-custom-card {
  background-color: #fff !important;
  margin: 0 -18px !important;
}
.collapse-custom-card .ant-collapse-item {
  border: 0 !important;
}
