.trigger {
  margin-left: -15px;
}

.trigger > svg {
  color: #fff;
  font-size: 1.4rem;
}

.portal-content {
  padding: 2rem;
}

.portal-container {
  min-height: 100vh !important;
}

.header-user-name {
  color: #fff;
  margin: 0;
  font-weight: 300;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
