.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header-container .delete-btn {
  margin-right: 10px;
}
